@media (min-width:800px) {
 
.gallary1{
    display: flex;
    justify-content: space-between;
}
.gallaryImg{
    width: 350px;
    height: 350px;
}   
}
.gallaryImg{
    overflow: hidden;
    border-radius: 10px; 
    box-shadow: 1px 1px 10px 2px black;
}
.gallary12{ 
    margin-top: 10px;
}